@import "/src/app/type-color/type-color.scss/";
.body {
  display: grid;
  grid-template-columns: 0.2fr 1fr 0.2fr;
  background-color: rgb(76 76 76);
}
.generations {
  margin: 20px 0 0 10px;
  color: white;
  font-size: 1.5rem;
}
.generation1:hover {
  color: grey;
  transition: 0.3s;
  cursor: pointer;
}
.generation2:hover {
  color: grey;
  transition: 0.3s;
  cursor: pointer;
}
.generation3:hover {
  color: grey;
  transition: 0.3s;
  cursor: pointer;
}
.imagens {
  width: 240px;
}
.main {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
.pokemon-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  max-width: 1000px;
  align-items: center;
  text-align: center;
  margin-top: 20px;
}
.pokemon-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 240px;
  height: 290px;
  border-radius: 15px;
  background-color: #eaeac7;
}
.pokemon-type {
  gap: 15px;
  display: flex;
  margin: 4px 0;
  color: white;
}
.name {
  margin: -8px 0;
  margin-bottom: 3px;
}
.pokemon-card:hover {
  background-color: #eacba6;
  transition: 0.3s;
  cursor: pointer;
}
