.example-spacer {
  flex: 1 1 auto;
}
.container {
  position: relative;
}
.header {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  align-items: center;
  width: 160px;
  justify-content: space-between;
}
.generation1:hover,
.generation2:hover,
.generation3:hover {
  color: grey;
  transition: 0.5s;
  cursor: pointer;
}
.generation {
  padding: 20px 10px;
}
