.header {
  gap: 50px;
  justify-content: center;
  display: flex;
  background-color: #eb9961;
  height: 100px;
  align-items: center;
  font-size: 50px;
  color: white;
}

.imagens {
  width: 240px;
}
.body {
  display: grid;
  grid-template-columns: 0.2fr 1fr 0.2fr;
  background-color: #965d62;
}
.generations {
  margin: 20px 0 0 10px;
  color: white;
  font-size: 1.5rem;
}
.generation1:hover {
  color: grey;
  transition: 0.3s;
  cursor: pointer;
}
.generation2:hover {
  color: grey;
  transition: 0.3s;
  cursor: pointer;
}
.generation3:hover {
  color: grey;
  transition: 0.3s;
  cursor: pointer;
}
