<!-- <div class="all">
  <div class="status">
    <h1 class="name">
      {{ pokemon?.name }}
    </h1>
    <img
      [src]="pokemon?.sprites.other['official-artwork'].front_default"
      style="max-width: 250px"
    />

    <div class="statistics">
      <div>
        <h3>Estatísticas</h3>

        <ol>
          <li *ngFor="let value of pokemon?.stats">
            {{ value.stat.name }}

            <strong>
              {{ value.base_stat }}
            </strong>
          </li>
        </ol>
      </div>
      <!-- <h1 [routerLink]="['']" class="button1">Voltar</h1> -->
<!-- </div>
  </div>
</div> -->
-->
